* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50px;
  border-bottom: solid 2px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  background-color: white;
  z-index: 1;
}

header .container {
  width: 97%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .zurag {
  width: 25%;
  height: 100%;
}

header .container .zurag img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

header .container .menu {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .container .menu .item {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

header .container .ikon {
  width: 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  position: relative;
}

header .container .ikon .drop {
  position: absolute;
  width: 180px;
  height: 200px;
  background-color: black;
  top: 50px;
  right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

header .container .ikon .drop .dropbody {
  width: 95%;
  height: 95%;
}

header .container .ikon .drop .dropbody .ugnuud {
  width: 100%;
  height: 20%;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  border-bottom: dashed 1px white;
  font-weight: bold;
}

header .container .ikon .drop .dropbody .ugnuud i {
  margin-left: 5px;
}

header .container .ikon .drop .dropbody .ugnuud h6 {
  margin-left: 15px;
}

#check {
  display: none;
}

#check:checked ~ * .drop {
  display: block;
}

label .drop .dropbody .ugnuud:hover i {
  color: red;
}

label .drop .dropbody .ugnuud:hover h6 {
  color: red;
}

header .container .menu .item:hover {
  background-color: blue;
  color: white;
}

header .container .ikon:hover {
  color: blue;
}

.tomtaniltsuulga {
  width: 100%;
}

.tomtaniltsuulga .hoyorzurag {
  width: 95%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 28% 68%;
      grid-template-columns: 28% 68%;
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor .zogsojbuibi {
  width: 100%;
  height: 90%;
  position: relative;
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor .zogsojbuibi .text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  display: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.89)), to(rgba(233, 231, 231, 0.4)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.89), rgba(233, 231, 231, 0.4));
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor .zogsojbuibi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor .huviintaniltsuulga {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor .huviintaniltsuulga button {
  width: 200px;
  height: 30px;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor .huviintaniltsuulga button:hover {
  background-color: blue;
  color: white;
}

.tomtaniltsuulga .hoyorzurag .undsenhoyor .zogsojbuibi:hover .text {
  display: block;
}

.gurvanzurag {
  width: 100%;
  margin-top: 20px;
}

.gurvanzurag .zuragtaidiv {
  width: 95%;
  height: 300px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gurvanzurag .zuragtaidiv .zurag {
  width: 350px;
  height: 100%;
  -webkit-box-shadow: 8px 8px 8px grey;
          box-shadow: 8px 8px 8px grey;
  border-radius: 15px;
  position: relative;
}

.gurvanzurag .zuragtaidiv .zurag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

.gurvanzurag .zuragtaidiv .zurag .text1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px;
  display: none;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(128, 128, 128, 0.4)));
  background-image: linear-gradient(to top rgba(0, 0, 0, 0.89), rgba(128, 128, 128, 0.4));
}

.gurvanzurag .zuragtaidiv .zurag .text1 p {
  margin-top: 260px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.gurvanzurag p {
  margin-top: 25px;
}

.gurvanzurag .zuragtaidiv .zurag:hover .text1 {
  display: block;
}

.garchig {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.garchig .garchigikon {
  width: 5%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.garchig .garchigikon i {
  font-size: 30px;
  color: red;
}

.beejin {
  width: 60%;
  height: 500px;
  margin: auto;
  background-color: white;
  -webkit-box-shadow: 8px 8px 8px grey;
          box-shadow: 8px 8px 8px grey;
}

.beejin .beejinzurag {
  width: 100%;
  height: 85%;
  position: relative;
}

.beejin .beejinzurag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.beejin .beejinzurag .text2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(128, 128, 128, 0.4)));
  background-image: linear-gradient(to top rgba(0, 0, 0, 0.89), rgba(128, 128, 128, 0.4));
  display: none;
}

.beejin .beejinzurag .text2 p {
  margin-top: 250px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: large;
}

.beejin .beejintailbar {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.beejin .beejintailbar .onsar {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: grey;
}

.beejin .beejintailbar .tailbar {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
}

.beejin .beejinzurag:hover .text2 {
  display: block;
}

.guanzhou {
  width: 90%;
  height: 500px;
  margin: auto;
  margin-top: 50px;
  -webkit-box-shadow: 8px 8px 8px grey;
          box-shadow: 8px 8px 8px grey;
}

.guanzhou .guanzhouzurag {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.guanzhou .guanzhouzurag .guanzhouhoyorzurag {
  width: 48%;
  height: 100%;
  position: relative;
}

.guanzhou .guanzhouzurag .guanzhouhoyorzurag img {
  width: 100%;
  height: 100%;
}

.guanzhou .guanzhouzurag .guanzhouhoyorzurag .text3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(128, 128, 128, 0.4)));
  background-image: linear-gradient(to top rgba(0, 0, 0, 0.89), rgba(128, 128, 128, 0.4));
  display: none;
}

.guanzhou .guanzhouzurag .guanzhouhoyorzurag .text3 p {
  margin-top: 250px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: large;
}

.guanzhou .guanzhoutailbar {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guanzhou .guanzhoutailbar .onsar {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: grey;
}

.guanzhou .guanzhoutailbar .tailbar {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
}

.guanzhou .guanzhouzurag .guanzhouhoyorzurag:hover .text3 {
  display: block;
}

.tianjin-hongkong-guilin {
  width: 95%;
  margin: auto;
  margin-top: 50px;
}

.tianjin-hongkong-guilin .golzuragnuud {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -ms-grid-rows: 400px;
      grid-template-rows: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tianjin-hongkong-guilin .golzuragnuud .gurvanbuurunhii {
  -webkit-box-shadow: 8px 8px 8px grey;
          box-shadow: 8px 8px 8px grey;
  border-radius: 20px;
}

.tianjin-hongkong-guilin .golzuragnuud .gurvanbuurunhii .zurag {
  width: 100%;
  height: 80%;
  border-radius: 50%;
  position: relative;
}

.tianjin-hongkong-guilin .golzuragnuud .gurvanbuurunhii .zurag img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tianjin-hongkong-guilin .golzuragnuud .gurvanbuurunhii .zurag .text4 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(128, 128, 128, 0.4)));
  background-image: linear-gradient(to top rgba(0, 0, 0, 0.89), rgba(128, 128, 128, 0.4));
  border-radius: 50%;
  display: none;
}

.tianjin-hongkong-guilin .golzuragnuud .gurvanbuurunhii .zurag .text4 p {
  margin-top: 150px;
  text-align: center;
  color: white;
  font-size: large;
}

.tianjin-hongkong-guilin .golzuragnuud .gurvanbuurunhii .jijigtailbar {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tianjin-hongkong-guilin .golzuragnuud .gurvanbuurunhii .zurag:hover .text4 {
  display: block;
}

.macao {
  width: 70%;
  height: 450px;
  margin: auto;
  margin-top: 50px;
  -webkit-box-shadow: 8px 8px 8px 8px grey;
          box-shadow: 8px 8px 8px 8px grey;
  border-radius: 30%;
}

.macao .macaozurag {
  width: 100%;
  height: 85%;
  border-radius: 50%;
  position: relative;
}

.macao .macaozurag img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.macao .macaozurag .text5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(128, 128, 128, 0.4)));
  background-image: linear-gradient(to top rgba(0, 0, 0, 0.89), rgba(128, 128, 128, 0.4));
  border-radius: 50%;
  display: none;
}

.macao .macaozurag .text5 p {
  text-align: center;
  margin-top: 100px;
  color: white;
  font-size: large;
}

.macao .macaotailbar {
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.macao .macaozurag:hover .text5 {
  display: block;
}

.busad {
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

.busad .busadzurag {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (33%)[3];
      grid-template-columns: repeat(3, 33%);
  -ms-grid-rows: 350px;
      grid-template-rows: 350px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.busad .busadzurag .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 5px 5px grey;
          box-shadow: 5px 5px 5px 5px grey;
  border-radius: 15px;
}

.busad .busadzurag .photo .zuragshu {
  width: 100%;
  height: 85%;
  border-radius: 15px;
  position: relative;
}

.busad .busadzurag .photo .zuragshu img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.busad .busadzurag .photo .zuragshu .text6 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(128, 128, 128, 0.4)));
  background-image: linear-gradient(to top rgba(0, 0, 0, 0.89), rgba(128, 128, 128, 0.4));
  border-radius: 15px;
  display: none;
}

.busad .busadzurag .photo .zuragshu .text6 p {
  color: white;
  margin-top: 150px;
  font-size: large;
  text-align: center;
}

.busad .busadzurag .photo .zuragshu:hover .text6 {
  display: block;
}

.urchadvarbichig {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 25px;
}

.urchadvarbichig i {
  padding-left: 30px;
  font-size: 35px;
}

.container5 {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.container5 .child5 {
  width: 100%;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container5 .child5 .child5dugnelt {
  width: 65%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container6 {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.container6 .child6 {
  width: 100%;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container6 .child6 .child6dugnelt {
  width: 75%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container7 {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.container7 .child7 {
  width: 100%;
  height: 35px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container7 .child7 .child7dugnelt {
  width: 10%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container8 {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.container8 .child8 {
  width: 100%;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container8 .child8 .child8dugnelt {
  width: 85%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container9 {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.container9 .child9 {
  width: 100%;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container9 .child9 .child9dugnelt {
  width: 70%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container10 {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.container10 .child10 {
  width: 100%;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container10 .child10 .child10dugnelt {
  width: 85%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container11 {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.container11 .child11 {
  width: 100%;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container11 .child11 .child11dugnelt {
  width: 60%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container12 {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.container12 .child12 {
  width: 100%;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container12 .child12 .child12dugnelt {
  width: 70%;
  height: 95%;
  background-color: greenyellow;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container13 {
  width: 100%;
  height: 130px;
  margin-top: 30px;
  background-color: #212222;
}

.container13 .child13 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  color: white;
}

.container13 .child13 i {
  margin-right: 5px;
}

.container13 .child14 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  color: white;
}

.container13 .child14 i {
  margin-right: 5px;
}

.container13 .child15 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  color: white;
}

.container13 .child15 i {
  margin-right: 5px;
}

.tugsgul {
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0rem;
  background-color: white;
  border-top: solid 1px black;
}

.tugsgul .container16 {
  width: 97%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tugsgul .container16 .logo {
  width: 15%;
  height: 100%;
}

.tugsgul .container16 .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tugsgul .container16 .onsarudur {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  header .container .menu {
    display: none;
  }
}

@media screen and (max-width: 1111px) {
  .tomtaniltsuulga .hoyorzurag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 28% 68%;
        grid-template-columns: 28% 68%;
    -ms-grid-rows: 450px;
        grid-template-rows: 450px;
  }
}

@media screen and (max-width: 979px) {
  .tomtaniltsuulga .hoyorzurag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 28% 68%;
        grid-template-columns: 28% 68%;
    -ms-grid-rows: 500px;
        grid-template-rows: 500px;
  }
}

@media screen and (max-width: 897px) {
  .tomtaniltsuulga .hoyorzurag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 28% 68%;
        grid-template-columns: 28% 68%;
    -ms-grid-rows: 550px;
        grid-template-rows: 550px;
  }
}

@media screen and (max-width: 833px) {
  .tomtaniltsuulga .hoyorzurag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 28% 68%;
        grid-template-columns: 28% 68%;
    -ms-grid-rows: 650px;
        grid-template-rows: 650px;
  }
}

@media screen and (max-width: 700px) {
  .tomtaniltsuulga .hoyorzurag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 300px 650px;
        grid-template-rows: 300px 650px;
  }
}

@media screen and (max-width: 480px) {
  .tomtaniltsuulga .hoyorzurag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 300px 850px;
        grid-template-rows: 300px 850px;
  }
}

@media screen and (max-width: 605px) {
  header .container .zurag {
    width: 200px;
  }
}

@media screen and (max-width: 683px) {
  .gurvanzurag {
    height: 950px;
  }
  .gurvanzurag .zuragtaidiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
}

@media screen and (max-width: 785px) {
  .beejin {
    width: 95%;
  }
}

@media screen and (max-width: 573px) {
  .beejin {
    width: 95%;
    height: 350px;
  }
}

@media screen and (max-width: 1100px) {
  .guanzhou {
    width: 95%;
  }
  .guanzhou .guanzhouzurag .hasagdah {
    display: none;
  }
  .guanzhou .guanzhouzurag .tomroh {
    width: 100%;
  }
}

@media screen and (max-width: 573px) {
  .guanzhou {
    height: 360px;
  }
}

@media screen and (max-width: 900px) {
  .tianjin-hongkong-guilin .golzuragnuud {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 500px 500px 500px;
        grid-template-rows: 500px 500px 500px;
    gap: 10px;
  }
}

@media screen and (max-width: 620px) {
  .macao {
    border-radius: 10%;
    width: 95%;
  }
}

@media screen and (max-width: 839px) {
  .busad .busadzurag {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 400px 400px 400px;
        grid-template-rows: 400px 400px 400px;
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .tugsgul .container16 .logo {
    width: 150px;
  }
}
/*# sourceMappingURL=style.css.map */